# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/backend-server/HELP.md
/backend-server/target/
!/backend-server/.mvn/wrapper/maven-wrapper.jar
!/backend-server/**/src/main/**/target/
!/backend-server/**/src/test/**/target/

### STS ###
/backend-server/.apt_generated
/backend-server/.classpath
/backend-server/.factorypath
/backend-server/.project
/backend-server/.settings
/backend-server/.springBeans
/backend-server/.sts4-cache

### IntelliJ IDEA ###
/backend-server/.idea
/backend-server/*.iws
/backend-server/*.iml
/backend-server/*.ipr

### NetBeans ###
/backend-server/nbproject/private/
/backend-server/nbbuild/
/backend-server/dist/
/backend-server/nbdist/
/backend-server/.nb-gradle/
/backend-server/build/
!/backend-server/**/src/main/**/build/
!/backend-server/**/src/test/**/build/